<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>퍼팩트도서관</title>
    <header th:insert="~{/common/templatesBuild::basic_css}"></header>
  </head>

  <body id="page-top">
    <div id="wrapper">
    <header th:insert="~{/common/templatesBuild::basic}"></header>
    <!-- 메인시작 -->
    <!-- 메인끝 -->
  </div>
    <footer th:insert="~{/common/templatesBuild::footer}"></footer>
  
  </body>
</html>
