<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 네비게이션바 -->
    <div th:fragment="navi">
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      />
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
      />
      <link
        href="/vendor/fontawesome-free/css/all.min.css"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet"
      />

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">도서관</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/book/bookList">도서목록</a>
              <a class="nav-link" href="/member/memberList">회원목록</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
          </div>
          <th:block th:if="${session.loginName != null}">
            <p>
              <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseWidthExample"
              aria-expanded="false"
              aria-controls="collapseWidthExample"
              style="height: 80px;"
            >
              <p>환영합니다!</p>
              <p th:text="${session.loginName}"></p>
            </button>
          </p>
            <div style="min-height: 120px">
              <div
                class="collapse collapse-horizontal"
                id="collapseWidthExample"
              >
                <div class="card card-body" style="width: 300px">
                  <button type="button" class="btn btn-danger" id="btn_logout">
                    로그아웃
                  </button>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </nav>
      <hr />
    </div>

    <!-- footer -->
    <div th:fragment="footer">
      <hr />
      00도서관에 오신것을 환영합니다! 당신을 위한 도서관리 사이트입니다!
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
      <script src="/js/common.js"></script>
    </div>

    <div th:fragment="pagenation">
      <th:block>
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <th:block th:if="${map.pageDto.prev}">
              <li class="page-item">
                <a
                  class="page-link"
                  th:onclick="go([[${map.pageDto.startPage-1}]])"
                  >◀</a
                >
              </li>
            </th:block>
            <th:block
              th:each="index:${#numbers.sequence(map.pageDto.startPage,map.pageDto.endPage)}"
            >
              <li class="page-item">
                <a
                  class="page-link"
                  th:text="${index}"
                  th:onclick="go([[${index}]])"
                ></a>
              </li>
            </th:block>

            <th:block th:if="${map.pageDto.next}">
              <li class="page-item">
                <a
                  class="page-link"
                  th:onclick="go([[${map.pageDto.endPage+1}]])"
                  >▶</a
                >
              </li>
            </th:block>
          </ul>
        </nav>
      </th:block>

      <th:block th:unless="${map!=null}"> map is null </th:block>
    </div>
  </body>
</html>
