<!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨사이드바 시작✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sideBar_left">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">퍼팩트 도서관 <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- 사이드바 메뉴 1 - 도서목록 -->
    <li class="nav-item active">
        <a class="nav-link" href="/book/bookList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>도서목록</span></a>
    </li>
    <!-- 사이드바 메뉴 2 - 사용자목록 -->
    <li class="nav-item active">
        <a class="nav-link" href="/member/memberList">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>사용자목록</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/other/calendar">
            <i class="fas fa-fw fa-table"></i>
            <span>달력</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- End of Sidebar -->
</ul>
<!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨사이드바 끝✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->

<!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨탑바 시작✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topBar">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        
        <div class="topbar-divider d-none d-sm-block"></div>

        <th:block th:if="${session.loginId == null}">
            <li>
                <!-- 로그인 전 : session의 값을 확인 -->
                <button
                type="button"
                class="btn btn-primary"
                onclick="location.href='/login/login'"
                style="margin: auto;"
                >
                로그인
                </button>
            </li>
        </th:block>
        <th:block th:unless="${session.loginId == null}">
            <!-- 상단바 네비 아이템 - 유저 인포메이션 -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${loginName} + '님 환영합니다.'"></span>
                    <img class="img-profile rounded-circle"
                        src="/img/undraw_profile.svg">
                </a>
                <!-- 드롭다운 - 유저 인포메이션 -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        사용자정보
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        설정
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        로그아웃
                    </a>
                </div>
            </li>

                    <!-- Logout Modal-->
            <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
                >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">떠날 준비가 되셨나요?</h5>
                            <button
                                class="close"
                                type="button"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            로그아웃을 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button
                                class="btn btn-secondary"
                                type="button"
                                data-dismiss="modal"
                            >
                                취소
                            </button>
                            <a class="btn btn-primary" href="/login/logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

    </ul>

</nav>
<!-- End of Topbar -->
 <!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨탑바 끝✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
 
 <!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨푸터 시작✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
 <!-- Footer -->
 <footer class="sticky-footer bg-white" th:fragment="footer">
     <div class="container my-auto">
         <div class="copyright text-center my-auto">
             <span>환영합니다! &copy; 퍼팩트도서관 2024</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨푸터 끝✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
    

    <!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨페이지네이션 시작✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->
    <div th:fragment="pagenation">
        <th:block>
          <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <th:block th:if="${map.pageDto.prev}">
                <li class="page-item">
                  <a
                    class="page-link"
                    th:onclick="go([[${map.pageDto.startPage-1}]])"
                    >◀</a
                  >
                </li>
              </th:block>
              <th:block
                th:each="index:${#numbers.sequence(map.pageDto.startPage,map.pageDto.endPage)}"
              >
                <li class="page-item">
                  <a
                    class="page-link"
                    th:text="${index}"
                    th:onclick="go([[${index}]])"
                  ></a>
                </li>
              </th:block>
  
              <th:block th:if="${map.pageDto.next}">
                <li class="page-item">
                  <a
                    class="page-link"
                    th:onclick="go([[${map.pageDto.endPage+1}]])"
                    >▶</a
                  >
                </li>
              </th:block>
            </ul>
          </nav>
        </th:block>
  
        <th:block th:unless="${map!=null}"> map is null </th:block>
      </div>
      <!-- ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨페이지네이션 끝✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ -->