<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo133.mapper.BookMapper">

    <!-- selectBookList --> 

    <select id="selectBookList" resultType="BookDto">
        select list.*, decode(to_char(sysdate, 'yyyymmdd'),to_char(regdate, 'yyyymmdd'),'true','false') isNew
        from (
            select rownum rn, t.*
            from (
                select *
                from tb_book
                where 1=1
                <if test="searchWord != null and searchWord != ''">
                    <if test="searchField == 'regdate'">
                        <![CDATA[    
                        and to_char(${searchField},'yyyy-mm-dd') = #{searchWord}
                        ]]>
                    </if>
                    <if test="searchField == 'title' or searchField == 'author'">
                    and ${searchField} = #{searchWord}
                    </if>
                </if>
            order by regdate desc
            ) t
        ) list
        where rn between #{pageNo} * #{amount} - ( #{amount} - 1 )
        and #{pageNo} * #{amount}
    </select>

    <!-- selectTotalCnt --> 

    <select id="selectTotalCnt">
        select count(*)
        from tb_book
        where 1=1
        <if test="searchWord != null and searchWord != ''">
            <if test="searchField == 'regdate'">
                <![CDATA[    
                and to_char(${searchField},'yyyy-mm-dd') = #{searchWord}
                ]]>
            </if>
        <if test="searchField == 'title' or searchField == 'author'">
            and ${searchField} = #{searchWord}
        </if>
        </if>
    </select>

    <!-- insertBook --> 

    <insert id="insertBook">
        insert into tb_book (book_no, title, author, price, pub_no, img_f_no)
        values('B'||lpad(seq_tb_book.nextval,5,0),#{title},#{author},#{price},#{pub_no},#{img_f_no})
    </insert>

    <!-- selectBookDetail --> 

    <select id="selectBookDetail">
        select *
        from tb_book
        where book_no=#{book_no}
    </select>

    <!-- updateBook --> 

    <update id="updateBook">
        update tb_book
        set title = #{title}, author = #{author}, price = #{price}
        where book_no=#{book_no}
    </update>

    <!-- deleteBook --> 

    <delete id="deleteBook">
        delete from tb_book 
        where book_no = #{book_no}
    </delete>
</mapper>