<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo133.mapper.LoginMapper">

    <!-- login --> 

    <select id="login" resultType="MemberDto">
        select * from tb_member where id=#{id}
    </select>

  <!-- selectCheckId --> 

  <select id="selectCheckId">
    select count(*) from tb_member where id=#{id}
  </select>

  <!-- insertUser --> 

  <insert id="insertUser">
    insert into tb_member (mem_no, id, pw, name, gender, addr, phone, email)
    values ('M'||lpad(seq_tb_mem.nextval,5,0),#{id},#{pw},#{name},#{gender},#{addr},#{phone},#{email})
  </insert>
</mapper>