<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo133.mapper.MemberMapper">

    <!-- selectMemberList -->

    <select id="selectMemberList" resultType="MemberDto"> select list.*, decode(to_char(sysdate,
        'yyyymmdd'),to_char(regdate, 'yyyymmdd'),'true','false') isNew from ( select rownum rn, t.*
        from ( select * from tb_member where 1=1 <if test="searchWord != null and searchWord != ''">
            <if test="searchField == 'regdate'">
                        <![CDATA[    
                        and to_char(${searchField},'yyyy-mm-dd') = #{searchWord}
                        ]]>
                    </if>
                    <if
                test="searchField == 'mem_no' or searchField == 'id' or searchField == 'name'"> and
        ${searchField} = #{searchWord} </if>
        </if> order by regdate desc ) t ) list where rn
        between #{pageNo} * #{amount} - ( #{amount} - 1 ) and #{pageNo} * #{amount} </select>

    <!-- selectTotalCnt -->

    <select id="selectTotalCnt"> select count(*) from tb_member where 1=1 <if
            test="searchWord != null and searchWord != ''">
            <if test="searchField == 'regdate'">
                        <![CDATA[    
                        and to_char(${searchField},'yyyy-mm-dd') = #{searchWord}
                        ]]>
                    </if>
                    <if
                test="searchField == 'mem_no' or searchField == 'id' or searchField == 'name'"> and
        ${searchField} = #{searchWord} </if>
        </if>
    </select>

    <!-- insertTestMember --> 

    <insert id="insertTestMember">
        insert into tb_member (mem_no, id, pw, name, gender, addr, phone)
        values ('M'||lpad(seq_tb_mem.nextval,5,0),'테스트ID'||seq_tb_mem.nextval,'test','name','M','addr','010-0000-0000')
    </insert>
</mapper>