<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 반응형 화면 구현 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>도서등록</title>
    <!-- 스타일시트 -->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="~{/common/templatesBuild::sideBar_left}"></ul>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav th:replace="~{/common/templatesBuild::topBar}"></nav>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- 👍👍👍👍메인컨텐츠는 여기부터!👍👍👍👍 -->
            <form
              name="insertForm"
              action="/book/bookInsertAction"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="input-group mb-3">
                <span class="input-group-text infoBox">타이틀</span>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="input_title"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text infoBox">작가</span>
                <input
                  type="text"
                  class="form-control"
                  name="author"
                  id="input_author"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text infoBox">가격</span>
                <input
                  type="text"
                  class="form-control"
                  name="price"
                  id="input_price"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text infoBox">출판사</span>
                <input
                  type="text"
                  class="form-control"
                  id="input_public"
                  placeholder="선택사항"
                  name="pub_no"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text infoBox">첨부파일</span>
                <input
                  type="file"
                  class="form-control"
                  name="file"
                  id="input_file"
                  multiple
                />
              </div>
              <div>
                * jpg, gif, png 파일만 업로드 가능 합니다.<br />
                * 파일의 최대크기는 5MB입니다.
              </div>
              <button type="button" class="btn btn-primary" id="btn_addBook">
                등록
              </button>
              <button type="reset" class="btn btn-danger">초기화</button>
            </form>

            <!-- 👍👍👍👍메인컨텐츠는 여기까지!👍👍👍👍 -->
          </div>
        </div>

        <footer th:replace="~{/common/templatesBuild::footer}"></footer>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <!-- Page level plugins -->
    
    <!-- Page level custom scripts -->
    <script src="/js/book/insert.js"></script>

  </body>
</html>
