<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 반응형 화면 구현 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>도서목록</title>
    <!-- 스타일시트 -->
    <div th:replace="~{/common/templatesBuild::basic_css}"></div>

    <!-- 페이지 스타일시트 -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="~{/common/templatesBuild::sideBar_left}"></ul>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav th:replace="~{/common/templatesBuild::topBar}"></nav>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- 👍👍👍👍메인컨텐츠는 여기부터!👍👍👍👍 -->
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">퍼팩트도서관</h1>
            <p class="mb-4">
              반갑습니다. 퍼팩트도서관이에요 당신을 위한 도서목록이 준비되어
              있습니다. <a target="_blank" href="/">홈페이지로</a>.
            </p>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">도서목록</h6>
              </div>
              <form
                name="searchForm"
                action="/book/bookList"
                method="get"
                id="searchForm"
              >
                <input
                  type="hidden"
                  name="pageNo"
                  id="pageNo"
                  th:value="${map.pageDto.searchDto.pageNo}"
                />
                <input
                  type="hidden"
                  name="amount"
                  id="amount"
                  th:value="${map.pageDto.searchDto.amount}"
                />

                <div class="input-group" id="searchBox">
                  <select class="form-select" name="searchField">
                    <option value="title" selected>도서명</option>
                    <option
                      value="author"
                      th:selected="${map.pageDto.searchDto.searchField == 'author'}"
                    >
                      작가
                    </option>
                    <option
                      value="regdate"
                      th:selected="${map.pageDto.searchDto.searchField == 'regdate'}"
                    >
                      등록일
                    </option>
                  </select>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="검색어"
                    name="searchWord"
                    th:value="${param.searchWord}"
                  />
                  <button class="btn btn-outline-secondary" type="submit">
                    검색
                  </button>
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="btn_insert_book"
                  >
                    도서등록
                  </button>
                </div>
              </form>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>도서번호</th>
                        <th>제목</th>
                        <th>작가</th>
                        <th>가격</th>
                        <th>출판사</th>
                        <th>등록일</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>도서번호</th>
                        <th>제목</th>
                        <th>작가</th>
                        <th>가격</th>
                        <th>출판사</th>
                        <th>등록일</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <th:block th:if="${#lists.isEmpty(map.list)}">
                        <tr>
                          <td colspan="6">등록된 도서가 없습니다.</td>
                        </tr>
                      </th:block>
                      <th:block
                        th:unless="${#lists.isEmpty(map.list)}"
                        th:each="book:${map.list}"
                      >
                        <tr>
                          <td th:text="${book.book_no}"></td>
                          <td>
                            <a
                              th:href="@{/book/bookDetail(book_no=${book.book_no})}"
                              th:text="${book.title}"
                            ></a>
                            <th:block th:if="${book.isNew}"> new </th:block>
                          </td>
                          <td th:text="${book.author}"></td>
                          <td th:text="${book.price}"></td>
                          <td th:text="${book.pub_no}"></td>
                          <td th:text="${book.regdate}"></td>
                        </tr>
                      </th:block>
                    </tbody>
                  </table>
                  <nav th:replace="~{/common/templatesBuild::pagenation}"></nav>
                </div>
              </div>
            </div>
            <!-- 👍👍👍👍메인컨텐츠는 여기까지!👍👍👍👍 -->
          </div>
        </div>

        <footer th:replace="~{/common/templatesBuild::footer}"></footer>
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- 기본 js -->
    <div th:replace="~{/common/templatesBuild::basic_js}"></div>

    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    <script src="/js/book/list.js"></script>
  </body>
</html>
