<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 반응형 화면 구현 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>베이직 탬플릿</title>
    <!-- 스타일시트 -->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="~{/common/templatesBuild::sideBar_left}"></ul>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav th:replace="~{/common/templatesBuild::topBar}"></nav>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- 👍👍👍👍메인컨텐츠는 여기부터!👍👍👍👍 -->
            <form action="/book/bookUpdateAction" method="post" name="updateForm">
              <th:block th:if="${book != null}">
                <table>
                  <tr>
                    <th>도서 번호</th>
                    <td>
                      <input type="text" name="book_no" th:value="${book.book_no}" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th>도서 제목</th>
                    <td>
                      <input type="text" name="title" th:value="${book.title}">
                    </td>
                  </tr>
                  <tr>
                    <th>도서 작가</th>
                    <td>
                      <input type="text" name="author" th:value="${book.author}">
                    </td>
                  </tr>
                  <tr>
                    <th>가격</th>
                    <td>
                      <input type="text" name="price" th:value="${book.price}">
                    </td>
                  </tr>
                </table>
              </th:block>
        
            </form>
              <hr />
        
              <input type="hidden" th:value="${book.book_no}" id="book_no">
              <button
                class="btn btn-primary"
                id="btn_book_update"
              >
                수정
              </button>
              <button
                type="reset"
                class="btn btn-danger"
              >
                초기화
              </button>
              <button class="btn btn-info" id="go_book_list">
                리스트
              </button>
            <!-- 👍👍👍👍메인컨텐츠는 여기까지!👍👍👍👍 -->
          </div>
        </div>

        <footer th:replace="~{/common/templatesBuild::footer}"></footer>
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <!-- Page level plugins -->
    
    <!-- Page level custom scripts -->
    <script src="/js/book/update.js"></script>

  </body>
</html>
