<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서목록</title>
    <link rel="stylesheet" href="/css/book/list.css" />
  </head>
  <body>
    <header th:insert="~{/common/templatesBuild::navi}"></header>
    <main
      th:with="list=${map.list}, pageDto=${map.pageDto}"
      th:if="${map!=null}"
    >
      <h2>도서목록</h2>
      <form
        name="searchForm"
        action="/book/bookList"
        method="get"
        id="searchForm"
      >
        <input
          type="hidden"
          name="pageNo"
          id="pageNo"
          th:value="${map.pageDto.searchDto.pageNo}"
        />
        <input
          type="hidden"
          name="amount"
          id="amount"
          th:value="${map.pageDto.searchDto.amount}"
        />

        <div class="input-group" id="searchBox">
          <select class="form-select" name="searchField">
            <option value="title" selected>도서명</option>
            <option
              value="author"
              th:selected="${map.pageDto.searchDto.searchField == 'author'}"
            >
              작가
            </option>
            <option
              value="regdate"
              th:selected="${map.pageDto.searchDto.searchField == 'regdate'}"
            >
              등록일
            </option>
          </select>
          <input
            type="text"
            class="form-control"
            placeholder="검색어"
            name="searchWord"
            th:value="${param.searchWord}"
          />
          <button class="btn btn-outline-secondary" type="submit">검색</button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="btn_insert_book"
          >
            도서등록
          </button>
        </div>
      </form>

      <hr />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">도서번호</th>
            <th scope="col">도서명</th>
            <th scope="col">작가</th>
            <th scope="col">금액</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:if="${#lists.isEmpty(list)}">
            <tr>
              <td colspan="4">등록된 도서가 없습니다.</td>
            </tr>
          </th:block>
          <th:block th:unless="${#lists.isEmpty(list)}">
            <th:block th:each="book:${list}">
              <tr>
                <th scope="row" th:text="${book.book_no}"></th>
                <td>
                  <a
                    th:href="@{/book/bookDetail(book_no=${book.book_no})}"
                    th:text="${book.title}"
                  ></a>
                  <th:block th:if="${book.isNew}">
                    <i class="bi bi-emoji-grin"></i>
                  </th:block>
                </td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
              </tr>
            </th:block>
          </th:block>
        </tbody>
      </table>

      <nav th:insert="~{/common/templatesBuild::pagenation}"></nav>
    </main>
    <footer th:insert="~{/common/templatesBuild::footer}"></footer>
    <script src="/js/book/list.js"></script>
  </body>
</html>
