<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login/login.css" />
    <script src="/js/login/login.js"></script>
  </head>
  <body>
    <header th:insert="~{/common/templatesBuild::navi}"></header>

    <main>
      <h1>로그인</h1>
      <form action="/login/loginAction" method="post" name="form_login">
        <div class="loginBox">
          <div th:text="${param.msg}"></div>
          <hr>
          <div class="input-group login-box">
            <span class="input-group-text login-width">id</span>
            <input type="text" class="form-control" id="input_id" name="id" />
          </div>
          <div class="right">
            <input
              type="checkbox"
              class="custom-control-input"
              name="chkIdSave"
              id="chkIdSave"
              value="1"
            />
            <label for="chkIdSave"> 아이디 저장</label>
          </div>
          <div class="input-group login-box">
            <span class="input-group-text login-width">password</span>
            <input
              type="password"
              class="form-control"
              id="input_password"
              name="pw"
            />
          </div>
          <button type="button" class="btn btn-primary" id="btn_login">
            로그인
          </button>
          <button type="button" class="btn btn-primary" id="btn_regist">
            회원가입
          </button>
        </div>
      </form>
    </main>

    <footer th:insert="~{/common/templatesBuild::footer}"></footer>
  </body>
</html>
