<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>회원가입</title>

    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">
                    퍼팩트도서관에 오신것을 환영합니다!
                  </h1>
                </div>
                <form
                  class="user"
                  name="registerForm"
                  method="post"
                  action="/login/loginRegisterAction"
                >
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="input_id"
                        name="id"
                        placeholder="아이디"
                      />
                    </div>
                    <div class="col-sm-6">
                      <button
                        type="button"
                        class="btn btn-primary btn-user btn-block"
                        id="btn_checkId"
                      >
                        아이디 중복체크
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="input_email"
                      name="email"
                      placeholder="이메일"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="input_name"
                      name="name"
                      placeholder="이름"
                    />
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="input_pw"
                        name="pw"
                        placeholder="비밀번호"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        id="check_pw"
                        placeholder="비밀번호 확인"
                      />
                    </div>
                  </div>
                  <div class="info_box" id="info_pw"></div>

                  <div class="form-group row">
                    성별
                    <div class="form-check">
                      <label class="form-check-label" for="chk_gender_man">
                        남성
                      </label>
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="chk_gender_man"
                        value="M"
                        checked
                      />
                      <label class="form-check-label" for="chk_gender_woman">
                        여성
                      </label>
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="chk_gender_woman"
                        value="F"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="input_address"
                      name="addr"
                      placeholder="주소 (선택)"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="input_phone"
                      name="phone"
                      placeholder="전화번호 (선택)"
                    />
                  </div>
                </form>

                <button
                  type="button"
                  class="btn btn-primary btn-user btn-block"
                  id="btn_register"
                >
                  회원가입
                </button>
                <hr />
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a
                  href="index.html"
                  class="btn btn-facebook btn-user btn-block"
                >
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="/login/login"
                    >이미 회원이신가요? 로그인페이지로</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="/">홈페이지</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/login/register.js"></script>
  </body>
</html>
